
$text-color: white;
$intro-font: 30px;

body{
  background-image: url("../images/backgroundPhoto1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100;
  .container{
    .row{
      .myName{
        font-size: 5em;
        color: $text-color;
      }
      .topDescription{
        color:$text-color;
      }
      .bottomDescription{
        color: $text-color;
      }
    }
    .firstIntro{
      margin-top: 150px;
    }
  }
}