video{
	width: 100%;
	height: 100%;
}
.videoContent{
	margin-top: 100px;
}
.todo{
	color:#377bb5;
}
// @media screen and (max-width: 600px) {
// 	video{
// 		width: 100%;
// 		height: 200px;
// 	}
// }